*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{


    height: 100vh;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    overflow: hidden;
    position: relative;

    
}

::selection{
    background-color: #157347;
}


#box{
    width: 51.2px;
    height: 50px;
    background-color: #181818;
    border: 1px solid #157347;
    transition: 1.5s;
    border-radius: 4px;
}

#box:hover{
    background-color: #157347;
    transition: 0s;

}

.card {
    width: 750px;
    height: 500px;
    background-color: #222;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media only screen and (max-width: 600px) {
    .card{
        
        width: 350px;
    }
    .alert{
        font-size: 12px;
    }
    #box{
        width: 48.7px;
    }


}


@media only screen and (max-width: 768px) {
    .card{
        width: 450px;
    }
    .alert{
        font-size: 12px;
    }


}








